.Card {
  padding: 4px;
  background-color: #f2f2f2;
  border-radius: 3px;
}

.Label {
  font-size: 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.Preview {
  display: flex;
  flex-wrap: wrap;
}

.Image {
  width: 20%;
}

.Placeholder {
  width: 52px;
  height: 52px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
}
