.Input {
  padding: 8px;
  font-size: 11px;
  flex: 1;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  outline: none;
  transition: 150ms;
}

.Input:focus {
  border: 1px solid #18a0fb;
  transition: 150ms;
}

.Input.Transparent {
  background-color: transparent;
  border: none;
}
