.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 600;
  height: 32px;
  min-width: 32px;
  border: none;
  background-color: #f2f2f2;
  color: #000000;
  transition: 150ms;
}

.Button:hover {
  background-color: #e2e2e2;
  transition: 150ms;
}

.Button.Primary {
  background-color: #18a0fb;
  color: #ffffff;
}

.Button.Primary:hover {
  background-color: #1998ec;
  transition: 150ms;
}

.Button:active {
  opacity: 0.8;
  transition: 150ms;
}
