::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

#root {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  user-select: none;
}

button,
input {
  font-family: inherit;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
  overflow-y: scroll;
  margin-right: -8px;
  padding-right: 4px;
}

.header {
  display: flex;
  gap: 8px;
}

.footer {
  display: flex;
  gap: 8px;
}

.footer .button {
  flex: 1;
}
