::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #b4b4b4;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #707070;
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

#root {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  user-select: none;
}

button,
input {
  font-family: inherit;
}

.content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
  overflow: auto;
  margin-right: -8px;
  padding-right: 8px;
}

.header {
  display: flex;
  gap: 8px;
}

.label {
  font-size: 11px;
  padding: 4px;
  background-color: #f2f2f2;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}
