.Preview {
  width: 52px;
  height: 52px;
  border-radius: 3px;
  cursor: pointer;
  transition: 150ms;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Preview:hover {
  background-color: #e2e2e2;
  transition: 150ms;
}

.Image {
  width: 100%;
  transition: 150ms;
}

.Preview:hover .Image {
  opacity: 0.25;
  transition: 150ms;
}

.Icon {
  position: absolute;
  display: none;
}

.Preview:hover .Icon {
  display: block;
}
